/*!
 * Start Bootstrap - 1 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

nav.navbar {
    background: url("../img/open-vector/bg-ih_vector_pattern.png") repeat-x #111 left;
}
h2 {
    font-size: 24px;
    color: #555;
}
h3 {
    font-size: 1em;
    color: #777;
}

p {
    color: #111;

}
footer {
    margin: 50px 0;
}

nav li {
    background-color:rgba(0, 0, 0, 0.3);
    margin: 0 1px;
}
.navbar-inverse a.navbar-brand {
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);*/
    color: #d3d3d3;
}
.navbar-inverse .navbar-nav li a{
    color: #d3d3d3;
}

.navbar-inverse .navbar-nav li.active a{
    background-color:rgba(0, 0, 0, 0.7);
    border: solid #000;
    border-width: 1px;
    color: #ddd;
    font-weight: bold;
}
#project-details h2 {
    margin: 0 0 1em;
}

#breadcrumbs {
    color: #888;
    margin-top: .5em;
}

#breadcrumbs * {
    padding: 1em .3em 0 0;
}
#breadcrumbs .glyphicon-chevron-right, #nav-back .glyphicon {
    font-size: .9em;
/*
    margin: 0 5px;
*/
}
#breadcrumbs + div h1 {
    margin: .5em 0;
}

.carousel{
    margin: 2.2em 0 1em;
}
.carousel-control.right, .carousel-control.left, a:hover.carousel-control {
    background-image: none;
    width: auto;
}

a.carousel-control span.glyphicon{
    opacity: .4;
    background: #000000;
    border-radius: 22px;
    height: 1.5em;
    width: 1.5em;
    padding: .2em;
    cursor: pointer;
}
ol.carousel-indicators {
    top:-2.8em;
    margin-top: .5em;
}

ol.carousel-indicators li{
    border:#ccc 1px solid;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    background: #eee;
}

ol.carousel-indicators li.active{
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background: #eee;
}

#project-detail .col-md-5 h2 {
    margin: 1.2em 0 .2em;
}

#project-detail .col-md-5 h2:first-child {
    margin: 0 0 .2em;
}
#project-detail ul {
    padding: 0 1.5em .5em;
}

#about article {
    padding-right: 2.8em;
    margin-bottom: 2em;
}
#about article img{
    margin-right: 2.2em;
}
#about h2 {
    margin-top: 0;
}
#about textarea {
    height: 10em;
}

#nav-back {
    margin-top: 1.5em;
}
/*
.project-list {
    border-bottom: 1px solid #EEE;
    padding: 0 0 20px;
}*/
