<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jody Chen Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    </script>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Jody Chen</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1" collapse="isCollapsed">

            <ul class="nav navbar-nav" bsActiveLink>
                    <li >
                            <a href="#/landing">Portfolio</a>  
                    </li>
                    <li>
                        <a href="#/detail">About</a>
                    </li>
                     <li >
                        <a href="#/contact">Contact</a>
                        <!-- https://jodychen-github-io-yzandy.c9.io/index.html#/contact -->
                    </li>
                    <li>
                        <a href="#/bs">BS latest</a>
                    </li>
 
  
    </ul>
             <!--   <ul class="nav navbar-nav">
                    <li ng-class="menuClass('landing')" >
                        <a href="#/landing">Portfolio</a>
                    </li>
                    <li>
                        <a href="#/detail">About</a>
                    </li>
                    <li ng-class="menuClass('contact')">
                        <a href="#/contact">Contact</a>
                        <!-- https://jodychen-github-io-yzandy.c9.io/index.html#/contact -->
                    </li>
                    <li>
                        <a href="#/bs">BS latest</a>
                    </li>
                </ul>
            -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <section class="content-well" ng-view>

        </section>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; Jody Chen 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->


<!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
-->
    <script src="../../js/angular-1.2.16.min.js"></script>
    <script src="../../js/angular-route-1.2.16.min.js"></script>
    <script src="../../js/ui-bootstrap-tpls-0.12.0.min.js"></script>

    <script type="text/javascript">
var projectObj = [
    {
        "Project": "Comixology - E-commerce Store",
        "Problem": "The comic webstore user experience was very different from their mobile applications. Because the webstore was unwieldy, too many users were going instead to the company's iphone app where 30% of the sale had to be given to Apple.  There wasn’t any information architecture or content strategy in place, making the site difficult to navigate for users.",
        "Solution": "I identified the need and spearheaded the effort to bring consistency to the customer experience of the webstore, mobile apps, and windows apps.  This was a strategic need, because purchases made on the webstore were 30% more profitable for Comixology. We decided to encourage smartphone users up to the iphone 3g to use the mobile browser webstore instead of the iphone app. I then implemented a dual prong approach by creating a tablets/desktops website and a small form-factor mobile site, and leveraged the strengths of the desktop/tablet browser by increasing the content area and including related sections. I created a streamlined, well-delineated shopping cart flow. And I designed a content strategy that enabled discovery of related comics and optimized prime screen estate.  Now the webstore’s flow was tailored for the shopper instead of the retailer.",
        "Wins": ["User feedback was tremendous - within months of launching, hundreds of users sent in messages stating how much they enjoyed the new website", "Within weeks of launching, more unique users visited the website then ever before"]
    },
    {
        "Project": "Marsh & McLennan - AutoID Web Application",
        "Problem": "Corporate car fleet insurance certificates were issued via an old terminal application that was inflexible. Employees spent significant amounts of time onboarding. The application didn’t have a clear workflow so employees made mistakes and needed to start over.  In addition, it lacked auditing tools, so managers and legal couldn’t quickly access any red flags.",
        "Solution": "I identified the need and spearheaded the effort to bring consistency to the customer experience of the webstore, mobile apps, and windows apps.  This was a strategic need, because purchases made on the webstore were 30% more profitable for Comixology. We decided to encourage smartphone users up to the iphone 3g to use the mobile browser webstore instead of the iphone app. I then implemented a dual prong approach by creating a tablets/desktops website and a small form-factor mobile site, and leveraged the strengths of the desktop/tablet browser by increasing the content area and including related sections. I created a streamlined, well-delineated shopping cart flow. And I designed a content strategy that enabled discovery of related comics and optimized prime screen estate.  Now the webstore’s flow was tailored for the shopper instead of the retailer."
    },
    {
        "Project": "Marsh & McLennan - Intranet Portal",
        "Problem": "The very basic intranet portal, which showed mostly HR information, didn’t account for the many localities and business units of the corporation. Colleagues in business units and localities were effectively siloed since there wasn’t a centralized place they could turn to for knowledge bases, intranet web apps, and networking.",
        "Solution": "I identified the need and spearheaded the effort to bring consistency to the customer experience of the webstore, mobile apps, and windows apps.  This was a strategic need, because purchases made on the webstore were 30% more profitable for Comixology. We decided to encourage smartphone users up to the iphone 3g to use the mobile browser webstore instead of the iphone app. I then implemented a dual prong approach by creating a tablets/desktops website and a small form-factor mobile site, and leveraged the strengths of the desktop/tablet browser by increasing the content area and including related sections. I created a streamlined, well-delineated shopping cart flow. And I designed a content strategy that enabled discovery of related comics and optimized prime screen estate.  Now the webstore’s flow was tailored for the shopper instead of the retailer."
    },
    {
        "Project": "Standard & Poors - Intranet Application Access",
        "Problem": "The web application had been designed much like a pre-existing paper form that employees used to make one-off requests for intranet application access and permissions. A lack of clear workflow meant that users had to guess which fields to click. The application didn’t convey which permissions a user currently had and what requests were in progress, creating many duplicates. The development and operations teams were spending too much time and energy on customer complaints as a result.",
        "Solution": "I identified the need and spearheaded the effort to bring consistency to the customer experience of the webstore, mobile apps, and windows apps.  This was a strategic need, because purchases made on the webstore were 30% more profitable for Comixology. We decided to encourage smartphone users up to the iphone 3g to use the mobile browser webstore instead of the iphone app. I then implemented a dual prong approach by creating a tablets/desktops website and a small form-factor mobile site, and leveraged the strengths of the desktop/tablet browser by increasing the content area and including related sections. I created a streamlined, well-delineated shopping cart flow. And I designed a content strategy that enabled discovery of related comics and optimized prime screen estate.  Now the webstore’s flow was tailored for the shopper instead of the retailer."
    },
    {
        "Project": "Chan Meditation Center - NGO Multimedia Site",
        "Problem": "This was a static HTML site with a 90s look and feel that could only be updated via hand coding. Navigation and styles were inconsistent since pages were maintained without a backend. They had significant amounts of multimedia assets such as video, audio, photographs, and pdf ebooks, yet lacked a content strategy when bringing them online. The site failed to convey the multitude of activities and events they were holding for the community even though their audience was numerous.",
        "Solution": "I identified the need and spearheaded the effort to bring consistency to the customer experience of the webstore, mobile apps, and windows apps.  This was a strategic need, because purchases made on the webstore were 30% more profitable for Comixology. We decided to encourage smartphone users up to the iphone 3g to use the mobile browser webstore instead of the iphone app. I then implemented a dual prong approach by creating a tablets/desktops website and a small form-factor mobile site, and leveraged the strengths of the desktop/tablet browser by increasing the content area and including related sections. I created a streamlined, well-delineated shopping cart flow. And I designed a content strategy that enabled discovery of related comics and optimized prime screen estate.  Now the webstore’s flow was tailored for the shopper instead of the retailer."
    },
    {
        "Project": "CompuDance - Responsive B2B Web Application",
        "Problem": "This company provided  turn-key websites for martial arts studios, yoga studios, and dance studios.  Their users needed a consistent user experience across multiple devices in order to update their websites quickly and easily.",
        "Solution": "I identified the need and spearheaded the effort to bring consistency to the customer experience of the webstore, mobile apps, and windows apps.  This was a strategic need, because purchases made on the webstore were 30% more profitable for Comixology. We decided to encourage smartphone users up to the iphone 3g to use the mobile browser webstore instead of the iphone app. I then implemented a dual prong approach by creating a tablets/desktops website and a small form-factor mobile site, and leveraged the strengths of the desktop/tablet browser by increasing the content area and including related sections. I created a streamlined, well-delineated shopping cart flow. And I designed a content strategy that enabled discovery of related comics and optimized prime screen estate.  Now the webstore’s flow was tailored for the shopper instead of the retailer."
    }
];

var app =angular.module('app', ['ngRoute']);

app
    .config(function($routeProvider) {
        $routeProvider
            .when('/', {
                templateUrl: '../landing-ang.html',
                controller: 'projectListCtrl'
            })
            .when('/detail/:projId', {
                templateUrl: '../detail-ang.html',
                controller: 'projectListCtrl'
            })
            .when('/landing', {
                templateUrl: '../landing-ang.html',
                controller: 'projectListCtrl'
            })
            .when('/contact', {
                templateUrl: '../contact.html',
                controller: 'projectListCtrl'
            })
                    /*
            }).when('/projects/:projectId', {
                templateUrl: '/html/detail-ang.html',
                controller: 'projectListCtrl'
*/
            .otherwise({
                redirectTo: '/'
            });
    })
  .controller('projectListCtrl', function ($scope, $routeParams) {
        $scope.projects = projectObj;
        $scope.params = $routeParams;
    })
    .directive('bsActiveLink', ['$location', function ($location) {
    return {
        restrict: 'A', //use as attribute 
        replace: false,
        link: function (scope, elem) {
            //after the route has changed
            scope.$on("$routeChangeSuccess", function () {
                var hrefs = ['/#' + $location.path(),
                             '#' + $location.path(), //html5: false
                             $location.path()]; //html5: true
                angular.forEach(elem.find('a'), function (a) {
                    a = angular.element(a);
                    if (-1 !== hrefs.indexOf(a.attr('href'))) {
                        a.parent().addClass('active');
                    } else {
                        a.parent().removeClass('active');   
                    };
                });     
            });
        }
    }
}]);

/* Controllers */

function MainCtrl($scope) {
   
}
    </script>

</body>

</html>
