<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Nick Canonico fund appeal " />
    <meta name="author" content="Licette Gonzales, Chang Wen Fashi" />
    <meta name="keywords" content="Nick Canonico, Lyme Disease" />
    <title>Nick Canonico fund appeal</title>

    <!-- Bootstrap Core CSS, Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="eqztv_9c3C9qRdeefOeXdt289seo5lLvJvzfV0971gw" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" ng-controller="navCtrl">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse-1" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Please</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1" collapse="isCollapsed">
                <ul class="nav navbar-nav">
                    <li ng-class="menuClass('/')" >
                        <a href="#/">Help</a>
                    </li>
                    <li ng-class="menuClass('/about')">
                        <a href="#/about">Nick</a>
                    </li>
<!--
                    <li ng-class="menuClass('/contact')">
                        <a href="#/contact">Contact</a>
                    </li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <main class="content-well" ng-view>

        </main>
        <!-- Footer -->
        <footer class="row">
            <p class="col-md-12">Copyright &copy; Friends of Nick 2015</p>
            <p class="col-md-12 hidden" id="cc-attribution">
                <a target="_blank" href="https://www.vectoropenstock.com/vectors/preview/68238/swirl-floral-pattern-shape">
                    Navbar Background Swirl Floral Pattern Shape </a> | Free vector by
                <a target="_blank" href="https://www.vectoropenstock.com/">Design-Maker</a>
            </p>
        </footer>
    </div>
    <!-- /.container -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
<!--
    <script src="js/angular-1.2.16.min.js"></script>
    <script src="js/angular-route-1.2.16.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
-->
    <script src="js/portfolio-reload.js"></script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58644980-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>

</body>

</html>