<!-- Page Heading -->
<header class="row">
    <div class="col-md-12">
        <h1 class="page-header">About
        </h1>
    </div>
</header>
<!-- /.row -->

<div class="row" id="about">
    <article class="col-md-7">
        <img src="img/portrait.jpg" class="pull-left img-rounded thumbnail" />
        <section>
            <p>In the worlds of UX and front end development, I am a unicorn.
                Specifically, I started up in front end development and continue to hand code using HTML5, CSS3, and Javascript
                for production quality prototypes. By understanding the advantages and limitations of various technology platforms,
                I am able to both make better recommendations and work more closely with developers.
            </p>
            <p>A few of the industries I’ve worked in include finance, publishing, and e-commerce.
                I've taken complex, concurrent multi-user, regulated business processes and created application experiences that are
                both simple for beginners and effective for power users. I’ve pulled together and reorganized databases worth of disparate
                content to create navigable, findable, and searchable experiences. I’ve streamlined e-commerce web applications so
                that shopping and discovering products become fun again. Some of these projects include starting from scratch where
                I’m the lead and some are projects where I work with pre-existing code.
            </p>
            <p>Do you have a gnarly user experience problem? I'd be delighted to help. Please fill out the contact form on this screen.</p>

        </section>
    </article>

    <aside class="col-md-5">
        <h2>Contact</h2>
        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe"
                style="display:none;" onload="if(submitted)
{window.location='http://jodychen.github.io/#/thankyou';}"></iframe>
        <form action="https://docs.google.com/forms/d/1Ql2N-UjfANnp_9QG54g3pcGiHoQLQwgERKqR7qPDR3w/formResponse" method="post"
              target="hidden_iframe" onsubmit="submitted=true;">

            <ul class="list-unstyled">
                <li class="form-group">
                    <label aria-label="(Required field)" for="entry_16243590">
                        What is your name?
                        <span class="ss-required-asterisk" aria-hidden="true">*</span>
                    </label>
                    <input type="text" name="entry.16243590" class="form-control" id="entry_16243590" dir="auto"
                           aria-label="What is your name?  " aria-required="true" required="" title="">
                </li>

                <li class="form-group">
                    <label aria-label="(Required field)" for="entry_1841834137">
                        Please enter your preferred method of contact.
                        <span class="ss-required-asterisk" aria-hidden="true">*</span>
                    </label>
                    <input type="text" name="entry.1841834137" class="form-control" id="entry_1841834137"
                           dir="auto" placeholder="Either phone or email is fine."
                           aria-label="Please enter your preferred method of contact. Either phone or email is fine "
                           aria-required="true" required="" title="">
                </li>

                <li class="form-group">
                    <label aria-label="(Required field)" for="entry_1797611142">
                        Please describe how I can help you.
                        <span class="ss-required-asterisk" aria-hidden="true">*</span>
                    </label>
                    <textarea name="entry.1797611142" class="form-control" id="entry_1797611142"
                              dir="auto" aria-label="Please describe how I can help you." aria-required="true"
                              required=""></textarea>
                </li>
                <li class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Contact Jody</button>
                </li>
            </ul>

            <input type="hidden" name="draftResponse" value="[,,&quot;-2452546955480809404&quot;]">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="-2452546955480809404">
        </form>
    </aside>
</div>
<!-- /.row -->


