<!-- Page Heading -->
<header class="row">
    <div class="col-md-12">
        <h1 class="page-header">Contact
        </h1>
    </div>
</header>
<!-- /.row -->
<article class="">
    <p>Do you have a gnarly user experience problem? I'd be delighted to help.</p>
</article>

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='http://jodychen.github.io/#/about';}"></iframe>
<form action="https://docs.google.com/forms/d/1Ql2N-UjfANnp_9QG54g3pcGiHoQLQwgERKqR7qPDR3w/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;">      

    <ul class="list-unstyled col-xs-12 col-sm-9 col-md-8 col-lg-7">
        <li class="form-group">
            <label aria-label="(Required field)" for="entry_16243590">
                What is your name?
                <span class="ss-required-asterisk" aria-hidden="true">*</span>
            </label>
            <input type="text" name="entry.16243590" value="" class="form-control" id="entry_16243590" dir="auto"
                   aria-label="What is your name?  " aria-required="true" required="" title="">
        </li>

        <li class="form-group">
            <label aria-label="(Required field)" for="entry_1841834137">
                Please enter your preferred method of contact.
                <span class="ss-required-asterisk" aria-hidden="true">*</span>
            </label>
            <input type="text" name="entry.1841834137" value="" class="form-control" id="entry_1841834137"
                   dir="auto"
                   aria-label="Please enter your preferred method of contact. Either phone or email is fine "
                   aria-required="true" required="" title="">
        </li>

        <li class="form-group">
            <label aria-label="(Required field)" for="entry_1797611142">
                Please briefly describe how I can help you.
                <span class="ss-required-asterisk" aria-hidden="true">*</span>
            </label>
            <textarea name="entry.1797611142" rows="8" class="form-control" id="entry_1797611142"
                      dir="auto" aria-label="Please briefly describe how I can help you.  " aria-required="true"
                      required=""></textarea>
        </li>
        <li class="form-group">
            <button type="submit" class="btn btn-primary form-control">Contact Jody</button>
        </li>
    </ul>

        <input type="hidden" name="draftResponse" value="[,,&quot;-2452546955480809404&quot;]">
        <input type="hidden" name="pageHistory" value="0">

        <input type="hidden" name="fbzx" value="-2452546955480809404">
</form>
