    <!-- Page Heading -->
    <header class="row">
        <div class="col-md-12">
            <h1 class="page-header">Jody Chen
                <small>Portfolio</small>
            </h1>
        </div>
    </header>
    <!-- /.row -->

    <!-- Project Template -->
    <section ng-repeat="project in projects">
        <article class="row">
            <div class="col-md-7">
                <a href="#/detail/{{$index}}">
                   <!-- <img class="img-responsive" src="img/700x400.gif" alt="" > -->
                    <img class="img-responsive" ng-src="img/{{ project.Image }}" alt="" >
                </a>
            </div>
            <div class="col-md-5">
                <h2>{{project.Project}}</h2>
                <h3>The Challenge</h3>
                <p>{{project.Problem}}</p>
                <a class="btn btn-primary" href="#/detail/{{$index}}">View Solution <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </article>
        <!-- /.row -->
        <hr />
    </section>

    <!-- Pagination -->

