<!-- Page Heading -->
<header class="row">
    <div class="col-md-12">
        <h1 class="page-header">Thank You
        </h1>
    </div>
</header>
<!-- /.row -->

<article>
    <p>Thank you for your interest! I will get back to you As Soon As Possible.
    </p>
</article>

<section id="nav-back">
    <a href="#/about"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to About</a>
</section>
<!-- /.row -->
